.card-container {
  padding: 1rem;
  margin: 1rem;
  border: 2px solid #ccc;
  border-radius: 0.75rem;
  background-color: #fff;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.card-container:hover {
  transition: 1.5s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 2rem;
}

.card-title {
  font-size: 1.5rem;
  color: indigo;
  margin-bottom: 0.5rem;
}

.card-details {
  font-size: 1rem;
  color: #555;
}
