.card-container {
  padding: 1rem;
  margin: 1rem;
  border: 2px solid #ccc;
  border-radius: 0.75rem;
  background-color: #fff;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  max-width: 20rem;
  max-height: 20rem;
}

.card-container:hover {
  transition: 0.8s;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  /* border-radius: 2rem; */
  margin-top: 0.3rem;
}

.card-title {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 0.3rem;
  border-bottom: 0.3rem solid red;
}

.card-details {
  font-size: 1rem;
  color: #555;
  display: flex;
  flex-wrap: wrap;
}
