.header-button {
  position: relative;
  overflow: hidden;
  border: 2px solid indigo;
  font-size: 1rem;
  font-weight: bold;
  margin: 0.1rem;
  padding: 0.5rem 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: indigo;
  cursor: pointer;
  transition: color 0.3s ease, border-radius 0.3s ease;
  z-index: 0;
}

.header-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: indigo;
  z-index: -1;
  transition: height 0.6s ease;
}

.header-button:hover::before {
  height: 100%;
}

.header-button:hover {
  color: ghostwhite;
}

.primary-button {
  position: relative;
  overflow: hidden;
  background-color: dodgerblue;
  color: ghostwhite;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
  pointer-events: none;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
